
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.general-info{
	width:1346px;
	height: 30px;
	position: relative;
	background-image: url(img/top.jpg);
}
.block-info{
	margin-left: 500px;
}
.block-info ul li{
	float: left;
	padding-top: 5px;
	text-align: center;
	list-style-type: none;
	color: #E8B24E;
	padding-left: 40px;
	font-size: 14px;
}
.menu{
	width:1346px;
	height: 150px;
	position: absolute;
	background-image: url(img/меню.jpg);
}
.block-menu{
	width: 1100px;
	margin-top: 35px;
	margin-left: 720px
}
.menu ul li a{
	float: left;
	padding-top: 20px;
	text-align: center;
	margin-left: 30px;
	color: #222222;
	text-decoration: none;
	font: bold;
}
.galery .photos img{
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
	
}
.galery .photos img.show{
	opacity: 1;
	
}
.musicBack{
	height:184px;
	width:1346px;
	background-image:url(img/музыкафон.jpg);
}
.videoBack{
	height:184px;
	width:1346px;
	background-image:url(img/видеофон.jpg);
}
.gameBack{
	height:184px;
	width:1346px;
	background-image:url(img/фондляигр.jpg);
}
.galery{
	height: 443px;
	width: 1346px;
	margin-top:130px;
	position: relative;
	width: 1346px;
}
.text {
	height: 800px;
	position: absolute;
	
	
}
.p0 p{
	font-size: 50px;
	text-align: center;
	color:black;
	
}

.p1 p{
	font-size: 45px;
	text-align: center;
	color:white;
	
}
.p2{
	height: 130px;
	width: 960px;
	margin: auto;

	
}
.p3{
	height: 100px;
	width: 960px;
	margin: auto;

	
}
.p4{
	width: 960px;
	margin: auto;
	
}

.p2 p{

	font-size: 25px;
	text-align: center;
	color:white;
	
}
.p3 p{
	font-size: 27px;
	text-align: center;
	color:#F7B053;
}
.p4 p{
	font-size: 20px;
	text-align: center;
	color:#F7B053;
}
.EEG{
	height: 600px;
	width: 1346px;
	
}
.EEG ul li{
	width: 400px;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin-left: 180px;
}
.EEG ul li p{
	font-size: 20px;
	text-align: justify;
	margin-left: -50px;
	float: left;
	height: 150px;
	width: 500px;
}


.text2{
	font-size: 20px;
	text-align: justify;
	margin-left: 100px;
	float: left;
	height: 150px;
	width: 500px;
}
.audio{
	width: 1346px;
	height: 270px;
	
}
.video{
	width: 1346px;
	height: 670px;
}
.video ul li{
	height: 270px;
	width: 300px;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin-left: 100px;
}
.audio ul li{
	height: 270px;
	width: 300px;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin-left: 100px;
}

.audio ul li p{
	font-size: 20px;
	text-align: center;
	margin-left: -0px;
	float: left;
	height: 180px;
	width: 300px;
}